@import '../node_modules/react-day-picker/lib/style.css';

#app {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.plants {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;

  li {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    border-radius: 15px;

    &:nth-child(odd) {
      background-color: #e7fbd8;
    }
  }
}

.DayPicker-Day--watered {
  color: #fff;
  background-color: #50981a;
}

.DayPicker-Day--nextWatering {
  color: #fff;
  background-color: #c1e8a3;
}

.DayPicker-Day--today {
  outline: 2px solid green;
}
