@import '../node_modules/react-day-picker/lib/style.css';

#app {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.plants {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;

  li {
    display: flex;
    justify-content: space-between;
    padding: 7px 14px;
    border-radius: 25px;

    &:not(:first-child) {
      margin-bottom: 5px;
    }

    //&:nth-child(odd) {
    //  background-color: #e7fbd8;
    //}
  }
}

:not(.DayPicker-Day--outside) {
  &.DayPicker-Day--watered {
    color: #fff;
    background-color: #50981a;
  }

  &.DayPicker-Day--nextWatering {
    color: #fff;
    background-color: #c1e8a3;
  }
}

.DayPicker-Day--today {
  outline: 2px solid #51a0fa;
  color: #51a0fa;
}

$red: red;
$yellow: #fbc20f;
$green: green;

@mixin bucketColors($index, $color) {
  $textColor: scale-color($color, $lightness: -20%);

  .feedRow-bucket--#{$index} {
    background-color: scale-color($color, $lightness: 80%);
    border: 1px solid $color;
    color: $textColor;

    a {
      color: $textColor;
    }
  }
}

@for $i from 1 through 5 {
  @include bucketColors($i, mix($yellow, $red, $weight: $i * 20%));
}

@for $i from 6 through 10 {
  @include bucketColors($i, mix($green, $yellow, $weight: ($i - 5) * 20%));
}
