.login {
  display: flex;
  flex-direction: column;

  [name=username],
  [name=password] {
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-image: none;
    border: 1px solid gray;
    background-image: none;
    padding: 10px;
    outline: none;
  }
}
