.waterForm {
  display: grid;
  grid-template-areas: "label switch" "button button";
  grid-row-gap: 30px;
  max-width: 100%;
  border: 2px solid #b4ad9d;
  padding: 20px;
  border-radius: 10px;
  background: #eaeaea;
}

.fertilizeLabel {
  grid-area: label;
  font-size: large;
  align-self: end;
}

.reactSwitch {
  grid-area: switch;
  justify-self: end;
}

.submit {
  width: 100px;
  transition: font-size .5s;

  &.fertilize {
    font-size: 22px;
  }

  ::after {
    font-size: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &.fertilize::after {
    content: '& fertilize';
    display: block;
    font-size: 12px;
    transition: font-size .5s;
  }
}
